{% extends "layout/main.html" %}

{% block title %}Biblioteca CNEC{% endblock %}

{% block content %}

<div class="flex items-center justify-center w-full h-max mt-6 lg:m-10">

    <div class="flex flex-col bg-cnec-azul w-11/12 max-w-6xl">
        <div class="flex justify-between items-center px-6 py-3 font-semibold border-b-4 border-cnec-amarelo">
            <div class="text-cnec-branco text-xl">
                {{turma}}º Ano
            </div>
            <form method="post" action="criar_semana_emprestimos" class="py-0.5 px-2 bg-cnec-amarelo text-cnec-azul-escuro text-lg font-bold rounded hover:opacity-90 transition hover:bg-cnec-amarelo-shadow">
                <button type="submit">
                    Avançar Semana
                </button>
            </form>
        </div>
        <div class="p-4 justify-center w-full max-w-full">
            
            <div class="flex flex-col justify-between gap-4 lg:flex-row p-4 h-96 w-full max-w-full bg-cnec-azul-escuro">
                <div id="tabela_registro" class="text-[9px] sm:text-sm lg:w-1/2"></div>
                <div id="tabela_atual" class="text-[9px] sm:text-sm lg:w-1/2"></div>
            </div>

        </div>

    </div>

</div>

{% endblock %}