@import url('https://googleapis.com');
@import "tabulator-tables/dist/css/tabulator_modern.min.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

.is_current_page {
    border-bottom-width: 3px;
    border-color: #ffc023;
    color: white;
    font-weight: bold;
    --tw-scale-x: 1.05;
    --tw-scale-y: 1.05;
}

.erro {
  @apply bg-red-800 text-cnec-branco
}

.sucesso {
  @apply bg-lime-500
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background-color: rgba(0,0,0,0);
}

::-webkit-scrollbar-thumb {
  background: rgba(160, 160, 160, 1);;
}