{% extends "layout/main.html" %}

{% block title %}Biblioteca CNEC{% endblock %}

{% block content %}
    <div class="flex flex-col items-center justify-center w-full">
        <div class="justify-start ">
            <div class=" pb-0 pt-2 px-4 text-2xl bg-cnec-azul text-cnec-branco font-semibold w-max">
                Turma - {{turma}}º Ano
            </div>
            

            <div class="grid grid-flow-col grid-rows-3 gap-10 bg-cnec-azul h-max w-max p-14">
                <ul>
                    {% for aluno in alunos_turma %}
                        <li class="text-cnec-branco">
                            {{aluno.nome}}
                        </li>
                    {% endfor %}
                </ul> 
            </div>
        </div>
    </div>


{% endblock %}